body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3ececda;
}

header {
    background-image: url(../utilis/FondoHeader.png);
    background-size: cover;
    background-position: center;
    padding: 20px 20px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerIzq,
.headerDer{
    display: flex;
}

.logo {
    width: 45px;
}

.botonCuenta,
.botonCarrito,
.botonFavoritos {
    color: black;
    padding: 8px;
    font-size: 12px;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 10px;
    border-radius: 20px;
}

.botonCuenta {
    background-color: transparent;
}

.botonCarrito, 
.botonFavoritos {
    background-color: rgba(255, 255, 255, 0.5);
}

.botonCuenta span,
.botonCarrito span,
.botonFavoritos span {
    margin-right: 10px;
}

.icono {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.botonCuenta:hover,
.botonCarrito:hover,
.botonFavoritos:hover,
.botonLogo:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

main {
    padding: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;  
}

.imagenCamiseta {
    max-width: 100%;
    height: auto;
    border: 1px solid white;
    border-radius: 8px;
}

.detallesProducto {
    max-width: 400px;
}

.detallesProducto h1 {
    font-size: 35px;
    color: black;
    margin-bottom: 10px;
}

.precio {
    font-size: 30px;
}

.opciones {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.opciones label {
    font-size: 16px;
    color: black;
    font-weight: bold;
}

.opciones select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid white;
}

hr {
    border: 1px solid white;
    margin: 20px 0;
}

.guardarDiseño {
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    background-color: #1c4b7e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.guardarDiseño:hover {
    background-color: #193655;
}

.botonesAdicionales {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.guardarFavorito,
.guardarCarrito {
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.guardarFavorito {
    background-color: white;
    color: black;
}

.guardarFavorito:hover {
    background-color:  #d82121c2;
}

.guardarCarrito {
    background-color: black;
    color: white;
}

.subirArchivo {
    border: 2px dashed grey;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 10px;
}

.subirArchivo p {
    margin: 0;
    font-size: 16px;
    color: black;
}

.subirArchivo:hover {
    background-color: lightgrey;
}

@media (max-width: 760px) {
    form {
        flex-direction: column;
        align-items: center;
    }

    .detallesProducto {
        max-width: 100%;
    }

    .headerIzq,
    .headerDer {
        flex-direction: column;
        align-items: flex-start;
    }

    .botonCuenta,
    .botonCarrito,
    .botonFavoritos {
        margin-left: 0;
        margin-top: 10px;
    }
}
